<section class="section-cadastro-lotes">
  <div class="cadastro-lotes">
    <h2>Cadastro de Lotes</h2>

    <form [formGroup]="cadastroForm" class="form-cadastro" (ngSubmit)="onSubmit()">
      <div class="grid-form">
        <div class="form-group">
          <label>Fornecedor do lote *</label>
          <select formControlName="fornecedor" class="form-control">
            <option *ngFor="let fornecedor of fornecedores" [value]="fornecedor.id">
              {{ fornecedor.nome }}
            </option>

            <option *ngIf="!fornecedores?.length && !isLoading" [value]="">Nenhum fornecedor disponível</option>
            <option *ngIf="!fornecedores?.length && isLoading" [value]="">Carregando...</option>
          </select>
          <div
            *ngIf="cadastroForm.get('fornecedor')?.invalid && cadastroForm.get('fornecedor')?.touched"
            class="text-danger"
          >
            Fornecedor é obrigatório
          </div>
        </div>

        <div class="form-group">
          <label>Espécie *</label>
          <select formControlName="tipo" class="form-control" (change)="onChangeSpecies($event.target)">
            <option *ngFor="let especie of especies" [value]="especie.id">{{ especie.nome }}</option>

            <option *ngIf="!especies?.length && !isLoading" [value]="">Nenhuma espécie encontrada</option>
            <option *ngIf="!especies?.length && isLoading" [value]="">Carregando...</option>
          </select>
          <div *ngIf="cadastroForm.get('tipo')?.invalid && cadastroForm.get('tipo')?.touched" class="text-danger">
            Espécie é obrigatória
          </div>
        </div>

        <div class="form-group">
          <label>Corte *</label>
          <select formControlName="categoria" class="form-control">
            <option *ngFor="let corte of cortes" [value]="corte.id">{{ corte.nome }}</option>

            <option *ngIf="!cortes?.length && !isLoading" [value]="">Nenhum corte encontrado</option>
            <option *ngIf="!cortes?.length && isLoading" [value]="">Carregando...</option>
          </select>
          <div
            *ngIf="cadastroForm.get('categoria')?.invalid && cadastroForm.get('categoria')?.touched"
            class="text-danger"
          >
            Corte é obrigatório
          </div>
        </div>

        <div class="form-group">
          <label>Válido até *</label>
          <input type="date" formControlName="validoAte" class="form-control" />
        </div>

        <div class="form-group">
          <label>Quantidade (kg) *</label>
          <input type="number" formControlName="quantidade" class="form-control" />
          <div
            *ngIf="cadastroForm.get('quantidade')?.invalid && cadastroForm.get('quantidade')?.touched"
            class="text-danger"
          >
            Quantidade deve ser positiva
          </div>
        </div>

        <div class="form-group">
          <label>Valor (kg) *</label>
          <input type="text" formControlName="valor" class="form-control" (input)="formatInput($event, 'valor')" />
          <div *ngIf="cadastroForm.get('valor')?.invalid && cadastroForm.get('valor')?.touched" class="text-danger">
            Valor deve ser positivo
          </div>
        </div>

        <div class="form-group">
          <label>Valor total a pagar</label>
          <input
            type="text"
            [value]="
              cadastroForm.value.quantidade * cadastroForm.value.valor || 0 | currency: 'BRL' : 'symbol' : '1.2-2'
            "
            disabled
            class="form-control total-value"
            readonly
          />
        </div>
      </div>

      <div class="form-group full-width">
        <label>Descrição</label>
        <textarea formControlName="descricao" class="form-control" rows="3"></textarea>
      </div>

      <div class="actions">
        <button type="button" class="btn-back" (click)="voltar()">
          <mat-icon>arrow_back</mat-icon>
          <span>Lotes</span>
        </button>

        <button type="submit" class="btn-submit" [disabled]="cadastroForm.invalid || loadingButtonCreate">
          <span>Cadastrar</span>

          <mat-icon *ngIf="loadingButtonCreate" class="rotate-360">refresh</mat-icon>

          <mat-icon *ngIf="!loadingButtonCreate">check</mat-icon>
        </button>
      </div>
    </form>
  </div>
</section>
