<section class="lotes">
  <div class="header">
    <h2>Lotes</h2>

    <button type="button" (click)="navigateToPath('/cadastro-lote')">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>

  <div class="cards">
    <app-card-info
      *ngFor="let info of infos"
      class="card-info"
      [cardTitle]="info.title"
      [infos]="info.contents"
    ></app-card-info>
  </div>

  <div class="table-container">
    <app-products-table
      *ngIf="lotes && !isLoading"
      [products]="lotes"
      [title]="titleLotes"
      [headers]="headersLotes"
      [filterChange]="filterChange.bind(this)"
      (searchTextChange)="onSearchTextChange.bind(this)"
      [searchAvaliable]="true"
      [isLoading]="isLoading"
      [(searchText)]="searchText"
    ></app-products-table>
  </div>

  <div class="actions">
    <button type="button" class="btn-back" (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
  </div>
</section>
