<header class="header-container">
  <div class="header-left" (click)="navigateTo('/dashboard')">
    <img src="assets/icons/logo.svg" alt="logo" />
    <span class="logo">BoiForte</span>
  </div>

  <div class="header-middle">
    <nav class="nav-menu">
      <button
        *ngFor="let route of routes"
        class="nav-button"
        [class.active]="route.isActive"
        (click)="navigateTo(route.route)"
      >
        <span class="nav-link">{{ route.name }}</span>
        <mat-icon>keyboard_arrow_down</mat-icon>
      </button>
    </nav>
  </div>

  <div class="header-right">
    <button type="button" (click)="logout()"><mat-icon>logout</mat-icon></button>
  </div>
</header>
