<header class="header-container">
  <div class="header-left">
    <span class="logo">SS BoiForte</span>
  </div>
  <div class="header-right">
    <nav class="nav-menu">
      <a routerLink="/cortes" class="nav-link">Cortes</a>
      <a routerLink="/lotes" class="nav-link">Lotes</a>
      <a routerLink="/fornecedores" class="nav-link">Fornecedores</a>
      <a routerLink="/clientes" class="nav-link">Clientes</a>
      <a routerLink="/pedidos" class="nav-link">Pedidos</a>
    </nav>
    <div class="user-info">
      <span class="user-icon">👤</span>
      <span class="user-name">Usuário</span>
    </div>
  </div>
</header>
