<section class="especies">
  <div class="header">
    <h2>Espécies</h2>
  </div>

  <div class="table-container">
    <app-products-table
      *ngIf="especies && !isLoading"
      [products]="especies"
      [title]="titleEspecies"
      [headers]="headersEspecies"
      [filterChange]="filterChange.bind(this)"
      [searchAvaliable]="true"
      [isLoading]="isLoading"
      [(searchText)]="searchText"
    ></app-products-table>
  </div>

  <div class="actions">
    <button type="button" class="btn-back" (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
  </div>
</section>
