$primary: #401515;
$primary-opacity: #401515aa;
$text-primary: #281d1b;

.table-container {
  margin-bottom: 0.5rem;
  padding: 1rem 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

  .table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
    padding: 0 20px;

    h2 {
      font-weight: 500;
      font-size: 1.5rem;
      margin: 0;
    }

    .table-buttons {
      display: flex;
      gap: 12px;
      font-weight: 500;
      font-size: 1rem;

      .input-search {
        border: 3px solid;
        border-color: $primary;
        border-radius: 25px;
        height: 2.5rem;
        width: 18rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2px;

        mat-icon {
          margin-left: 8px;
          color: $primary;
        }

        input {
          height: 100%;
          width: auto;
          flex: 1;
          border: none;
          border-radius: 25px;
          font-size: 1rem;

          &:focus-visible {
            outline: none;
          }

          &::placeholder {
            font-weight: 600;
          }
        }
      }

      .button-relatorio {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        border-width: 2px;
        border-style: solid;
        border-color: $primary;
        border-radius: 4px;
        background-color: transparent;
        color: $primary;
        cursor: pointer;
        gap: 6px;
        font-size: inherit;
        font-weight: inherit;

        svg {
          width: 16px;
          height: 16px;
          fill: $primary;
        }

        &:hover {
          filter: opacity(0.8);
        }
      }

      .button-ver-tudo {
        display: flex;
        align-items: center;
        padding: 6px 12px;
        border: none;
        border-radius: 4px;
        background-color: $primary;
        color: #fff;
        cursor: pointer;
        gap: 6px;
        font-size: inherit;
        font-weight: inherit;

        svg {
          width: 16px;
          height: 16px;
          fill: #fff;
        }

        &:hover {
          filter: opacity(0.8);
        }
      }
    }
  }

  table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 20px 0;
    background: #fff;
    border-radius: 8px;
    overflow: hidden;
    table-layout: fixed;
    font-size: 15px;

    th,
    td {
      padding: 0.75rem 0;
      text-align: left;
      border-bottom: 1px solid #a0a0a0;
      border-spacing: 10px;

      &.last-item {
        border: none;
      }
    }

    th {
      font-weight: 500;
      padding-bottom: 0.35rem;

      div.titles-th {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        height: 100%;
      }

      &:nth-child(1) {
        width: 6%;
      }

      &:nth-child(2) {
        width: 30%;
      }

      &:nth-child(3) {
        width: 16%;
      }

      &:nth-child(4) {
        width: 16%;
      }

      &:nth-child(5) {
        width: 16%;
      }

      &:nth-child(6) {
        width: 16%;
      }
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;

    button,
    span {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 32px;
      height: 32px;
      padding: 0 8px;
      border: 1px solid #ddd;
      background: white;
      border-radius: 4px;
      cursor: pointer;
      transition: all 0.3s;

      &:hover:not(:disabled) {
        background: $primary-opacity;
      }

      &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
      }

      mat-icon {
        font-size: 18px;
        height: 18px;
        width: 18px;
      }
    }

    span {
      &.active {
        background: $primary;
        color: white;
        border-color: $primary;
      }

      &:hover:not(.active) {
        background: $primary-opacity;
      }
    }
  }

  .badges {
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 8px;

    &.badge-red {
      background-color: #ff1e0040;
      color: $text-primary;
    }

    &.badge-yellow {
      background-color: #ffa60040;
      color: $text-primary;
    }

    &.badge-green {
      background-color: #00aa1f40;
      color: $text-primary;
    }

    &.badge-dark-red {
      background: #c11515;
      color: #fff;
    }
  }
}
