<div class="table-container">
  <div class="table-header">
    <h2>{{ title }}</h2>

    <div class="table-buttons">
      <div *ngIf="searchAvaliable" class="input-search">
        <mat-icon>search</mat-icon>

        <input type="text" [ngModel]="searchText" (input)="onSearchInputChange($event)" placeholder="Buscar..." />
      </div>

      <button *ngIf="openModalRelatorio" type="button" class="button-relatorio" (click)="openModal()">
        <img src="assets/icons/excel-file.svg" alt="excel icon" width="18" height="18" />
        Gerar relatório
      </button>

      <button *ngIf="navigateTo" type="button" class="button-ver-tudo">
        Ver tudo
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th *ngFor="let header of headers" [ngClass]="{ 'id-th': header.reference.startsWith('id') }">
          <div class="titles-th">
            {{ header.name }}
            <mat-icon>arrow_drop_down</mat-icon>
          </div>
        </th>
        <th *ngIf="actions?.length">
          <div>Ações</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products.products; let i = index">
        <td [class]="i === products.products.length - 1 ? 'last-item' : ''" *ngFor="let prod of headers">
          <ng-container *ngIf="prod.reference !== 'status'; else statusColunm">
            {{ product[prod.reference] || '-' }}
          </ng-container>

          <ng-template #statusColunm>
            <span *ngIf="product.status" class="badges" [class]="getStatusClass(product.status)">
              {{ product.status }}
            </span>
          </ng-template>
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination" *ngIf="products.total >= 1 && searchAvaliable">
    <button (click)="changePage(1)" [disabled]="currentPage === 1">
      <mat-icon>first_page</mat-icon>
    </button>

    <button (click)="changePage(currentPage - 1)" [disabled]="currentPage === 1">
      <mat-icon>chevron_left</mat-icon>
    </button>

    <span *ngFor="let page of pages" (click)="changePage(page)" [class.active]="page === currentPage">
      {{ page }}
    </span>

    <button (click)="changePage(currentPage + 1)" [disabled]="currentPage === products.total">
      <mat-icon>chevron_right</mat-icon>
    </button>

    <button (click)="changePage(products.total)" [disabled]="currentPage === products.total">
      <mat-icon>last_page</mat-icon>
    </button>
  </div>
</div>
