.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f6f6f6;
}

.login-container h1 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #531010;
  font-weight: bold;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 300px;
}

.login-form input {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}

.login-form button {
  padding: 0.75rem;
  background-color: #531010;
  color: #fff;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #3d0d0d;
}
