<section class="clientes">
  <div class="header">
    <h2>Clientes</h2>

    <button type="button" (click)="navigateToPath('/cadastro-cliente')">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>

  <div class="cards">
    <app-card-stats
      class="card-info"
      [value]="totalClientes.value"
      [title]="totalClientes.title"
      [color]="totalClientes.color"
    ></app-card-stats>

    <app-card-stats
      class="card-info"
      [value]="clientesAtivos.value"
      [title]="clientesAtivos.title"
      [color]="clientesAtivos.color"
    ></app-card-stats>

    <app-card-info class="card-info" [cardTitle]="info.title" [infos]="info.contents"></app-card-info>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="clientes"
      [title]="titleClientes"
      [headers]="headersClientes"
      [filterChange]="filterChange.bind(this)"
      [searchAvaliable]="true"
      [isLoading]="isLoading"
      [(searchText)]="searchText"
    ></app-products-table>
  </div>

  <div class="actions">
    <button type="button" class="btn-back" (click)="voltar()">
      <mat-icon>arrow_back</mat-icon>
      <span>Voltar</span>
    </button>
  </div>
</section>
