.section-cadastro-cortes {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  .cadastro-cortes {
    background-color: #fffbfa;
    padding: 20px;
    border-radius: 8px;
    width: 85%;
    margin-top: 2rem;

    h2 {
      margin-bottom: 20px;
      font-weight: 700;
      font-size: 1.5rem;
    }

    .form-cadastro {
      display: flex;
      flex-direction: column;
      gap: 20px;

      .grid-form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;
      }

      .form-group {
        display: flex;
        flex-direction: column;
        gap: 4px;

        label {
          font-weight: 500;
        }

        input {
          padding: 8px 12px;
          border: 1px solid #ccc;
          border-radius: 6px;
          font-size: 14px;

          &:disabled {
            background-color: #f1f1f1;
            color: #999;
          }
        }
      }

      .actions {
        display: flex;
        justify-content: space-between;
        gap: 16px;

        button {
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 8px;
          padding: 8px 16px;
          border-radius: 6px;
          cursor: pointer;
          border: none;
          font-weight: 500;
          font-size: 1rem;
          transition: 0.2s ease;

          mat-icon {
            font-size: 20px !important;
            width: 20px !important;
            height: 20px !important;
          }
        }

        .btn-back {
          background-color: #401515;
          color: white;

          &:hover {
            background-color: #401515cc;
          }
        }

        .btn-submit {
          background-color: #401515;
          color: white;

          &:hover {
            background-color: #401515cc;
          }

          &:disabled {
            background-color: #401515a2;
            cursor: not-allowed;
          }
        }
      }
    }
  }
}
