<section class="dashboard">
  <div class="dashboard-header">
    <h2>Início</h2>

    <button type="button" (click)="openModalCadastrar()">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>

  <div class="cards">
    <div class="card">
      <div class="title">
        <h3>Total de pedidos</h3>
        <div class="divider"></div>
      </div>

      <div class="number">
        <p>{{ pedidos }}</p>
      </div>
    </div>

    <div class="card">
      <div class="title">
        <h3>Vendas do dia</h3>
        <div class="divider"></div>
      </div>

      <div class="number">
        <p>{{ vendasHoje }}</p>
      </div>
    </div>

    <div class="card">
      <div class="title">
        <h3>Cortes em falta</h3>
        <div class="divider"></div>
      </div>

      <ul class="infos-list">
        <li *ngFor="let corte of cortesEmFalta">{{ corte.corte }} - {{ corte.especie }}</li>
      </ul>
    </div>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="validadeLotes"
      [title]="lotes"
      [headers]="headers"
      [openModalRelatorio]="openModalRelatorio.bind(this)"
      [navigateTo]="'/lotes'"
    ></app-products-table>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="estoqueCortes"
      [title]="cortes"
      [headers]="headers"
      [openModalRelatorio]="openModalRelatorio.bind(this)"
      [navigateTo]="'/cortes'"
    ></app-products-table>
  </div>
</section>
