<section class="dashboard">
  <div class="header">
    <h2>Início</h2>

    <button type="button" (click)="openModalCadastrar()">
      <mat-icon>add</mat-icon>
      Cadastrar
    </button>
  </div>

  <div class="cards">
    <div class="card-info">
      <app-card-stats [value]="pedidos" title="Total de pedidos" color="red"></app-card-stats>
    </div>

    <div class="card-info">
      <app-card-stats [value]="vendasHoje" title="Vendas do dia" color="red"></app-card-stats>
    </div>

    <div class="card-info">
      <app-card-info cardTitle="Cortes em falta" [infos]="cortesEmFalta"></app-card-info>
    </div>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="lotes"
      [title]="lotesValidade"
      [headers]="headers"
      [openModalRelatorio]="openModalRelatorio.bind(this)"
      [navigateTo]="'/lotes'"
      [searchAvaliable]="false"
      [isLoading]="isLoading"
    ></app-products-table>
  </div>

  <div class="table-container">
    <app-products-table
      [products]="cortes"
      [title]="cortesEstoque"
      [headers]="headers"
      [openModalRelatorio]="openModalRelatorio.bind(this)"
      [navigateTo]="'/cortes'"
      [searchAvaliable]="false"
      [isLoading]="isLoading"
    ></app-products-table>
  </div>
</section>
